../../../.ICEauthority
	../../../.Xauthority
	../../../.Xdefaults
	../../../.bash_history
	../../../.bash_logout
	../../../.bashrc
	../../../.cache/
	../../../.config/
	../../../.dmrc
	../../../.gitconfig
	../../../.local/
	../../../.mozilla/
	../../../.pki/
	../../../.profile
	../../../.ssh/
	../../../.sudo_as_admin_successful
	../../../.thumbnails/
	../../../.thunderbird/
	../../../.vboxclient-clipboard.pid
	../../../.vboxclient-display-svga-x11.pid
	../../../.vboxclient-draganddrop.pid
	../../../.vboxclient-seamless.pid
	../../../.vscode/
	../../../.xscreensaver
	../../../.xsession-errors
	../../../.xsession-errors.old
	../../../Documents/
	../../../Downloads/
	../../../Git-Odin/
	../../../Myrepo/
	../../../Plain Text.txt
	../../
	../../../Templates/
	../../../index.html
	../../../repos/
